First Name : <input [(ngModel)]="newEmployee.firstName" type="text" /><br />
Last Name : <input [(ngModel)]="newEmployee.lastName" type="text" /><br />
email : <input [(ngModel)]="newEmployee.email" type="text"/><br />
mNumber : <input [(ngModel)]="newEmployee.mNumber" type="text"/><br />
gender : <input [(ngModel)]="newEmployee.gender" type="radio" value="male"/> Male
<input [(ngModel)]="newEmployee.gender" type="radio" value="female"/> Female<br />
<label for="city">Choose a City Name:</label> 
    <select name="city" id="city">
        <option value=" "> </option>
        <option value="pune">Pune</option> 
        <option value="mumbai">Mumbai</option> 
        <option value="Nashik">Nashik</option> 
        <option value="nagpur">Nagpur</option> 
    </select><br>
<button (click)="createEmployee()">Submit</button><br/>
<button (click)="goToViewEmployees()">Go to view Employee</button>
