<!--
first Name : <input [(ngModel)]="newUser.firstName" type="text"><br>
last Name : <input [(ngModel)]="newUser.lastName" type="text"><br>


<button (click)="createUser()"class="btn btn-secondary">submit</button>
-->
<style> 
    .container { 
        display:flex; 
        justify-content: space-between; 
    } 
</style> 
<div class="container"> 
<button (click)="getEmployees()"class="btn btn-primary">Get Employees</button><br>
<button (click)="goToAddEmployees()" class="btn btn-secondary">Go to Add Employee</button><br>

<button (click)="gotoregister()"class="btn btn-primary">Register</button><br>
<button (click)="gotologin()"class="btn btn-secondary">Login</button>
</div>
<ul>
    @for (employee of employees; track employee._id){
        <li> {{employee.firstName}}{{employee.lastName}}
            <button (click)="deleteEmployee(employee._id)">delete</button>     
        </li>
    }
</ul>
